<h1> Listing Posts</h1>
<table>
  <tr>
    <th>UserID     </th>
    <th>Title      </th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>

  <tr>
    <td><%= post.userId     %></td>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= link_to 'show', post_path(post) %></td>
    <td><%= link_to 'edit', edit_post_path(post)%></td>
    <td><%= link_to 'destroy', post_path(post), :method => :delete, :confirm => 'Are you sure?'  %></td>
  </tr>
   <% end %>
</table>
<%= link_to 'new post' , new_post_path%>